.sidebar__author-text {
  font-family: 'PT Sans';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: #666;
  margin: 0 0 21px 0;
}